<!-- LOG NO FORMATO JSON -->
<configuration>
    <contextName>production</contextName>

    <appender name="json-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>

            <timestampFormat>dd-MM-yyyy' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="json-stdout" />
    </root>
</configuration>

<!-- FORMATO PADRÃO DE LOGS -->
<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} %M - %msg %rEx{short} %n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->

<!-- LOGGAR EM ARQUIVO -->
<!--<configuration>-->
<!--    <property name="LOG_PATH" value="logs/admin-do-catalogo.log" />-->
<!--    -->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${LOG_PATH}</file>-->
<!--        <append>true</append>-->
<!--    -->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="FILE" />-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->