<!-- LOG NO FORMATO JSON UTILIZANDO LOGSTASH -->
<configuration>
    <appender name="json-stdout-info" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>

                    <pattern>
                        {
                          "timestamp": "%d{dd-MM-yyyy HH:mm:ss.SSS}",
                          "level": "%-5level",
                          "logger": "%logger{0}",
                          "message": "#tryJson{%msg}"
                        }
                    </pattern>
                </pattern>

                <stackTrace>
                    <fieldName>exception</fieldName>

                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <exclude>^org\.</exclude>
                        <exclude>^com\.</exclude>
                        <exclude>^net\.</exclude>
                        <exclude>^jdk\.internal</exclude>
                        <exclude>^sun\.</exclude>
                        <exclude>^com\.sun</exclude>
                        <exclude>^java\.lang\.reflect\.Method\.invoke</exclude>
                        <exclude>^javax\.servlet\.http\.HttpServlet\.service</exclude>
                        <exclude>^software\.amazon\.awssdk\.core\.internal</exclude>
                        <exclude>BySpringCGLIB</exclude>
                        <shortenedClassNameLength>1</shortenedClassNameLength>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="json-stdout-warning" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>

                    <pattern>
                        {
                          "timestamp": "%d{dd-MM-yyyy HH:mm:ss.SSS}",
                          "level": "%-5level",
                          "logger": "%logger{0}",
                          "message": "#tryJson{%msg}"
                        }
                    </pattern>
                </pattern>

                <stackTrace>
                    <fieldName>exception</fieldName>

                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <exclude>^org\.</exclude>
                        <exclude>^com\.</exclude>
                        <exclude>^net\.</exclude>
                        <exclude>^jdk\.internal</exclude>
                        <exclude>^sun\.</exclude>
                        <exclude>^com\.sun</exclude>
                        <exclude>^java\.lang\.reflect\.Method\.invoke</exclude>
                        <exclude>^javax\.servlet\.http\.HttpServlet\.service</exclude>
                        <exclude>^software\.amazon\.awssdk\.core\.internal</exclude>
                        <exclude>BySpringCGLIB</exclude>
                        <shortenedClassNameLength>1</shortenedClassNameLength>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <property name="LOG_PATH" value="infrastructure/src/main/resources/logs/application.log" />

    <appender name="log-in-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.%d{dd-MM-yyyy}.%i.log.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize> <!-- Tamanho máximo do arquivo até ser necessária a compactação -->
            <totalSizeCap>30MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>

                    <pattern>
                        {
                        "timestamp": "%d{dd-MM-yyyy HH:mm:ss.SSS}",
                        "level": "%-5level",
                        "logger": "%logger{0}",
                        "message": "#tryJson{%msg}"
                        }
                    </pattern>
                </pattern>

                <stackTrace>
                    <fieldName>exception</fieldName>

                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <exclude>^org\.</exclude>
                        <exclude>^com\.</exclude>
                        <exclude>^net\.</exclude>
                        <exclude>^jdk\.internal</exclude>
                        <exclude>^sun\.</exclude>
                        <exclude>^com\.sun</exclude>
                        <exclude>^java\.lang\.reflect\.Method\.invoke</exclude>
                        <exclude>^javax\.servlet\.http\.HttpServlet\.service</exclude>
                        <exclude>^software\.amazon\.awssdk\.core\.internal</exclude>
                        <exclude>BySpringCGLIB</exclude>
                        <shortenedClassNameLength>1</shortenedClassNameLength>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="json-stdout-warning"/>
<!--        <appender-ref ref="log-in-file"/>-->
    </root>

    <logger level="info" name="com.lukinhasssss" additivity="false">
        <appender-ref ref="json-stdout-info"/>
<!--        <appender-ref ref="log-in-file"/>-->
    </logger>
</configuration>

<!-- LOG EM ARQUIVOS NO FORMATO JSON UTILIZANDO LOGSTASH -->
<!--<configuration>    -->
<!--    <appender name="log-in-file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOG_PATH}</file>-->
<!--    -->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_PATH}.%d{dd-MM-yyyy}.%i.log.gz</fileNamePattern>-->
<!--            <maxFileSize>5MB</maxFileSize> &lt;!&ndash; Tamanho máximo do arquivo até ser necessária a compactação &ndash;&gt;-->
<!--            <totalSizeCap>30MB</totalSizeCap>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--    -->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <pattern>-->
<!--                    <omitEmptyFields>true</omitEmptyFields>-->
<!--    -->
<!--                    <pattern>-->
<!--                        {-->
<!--                        "timestamp": "%d{dd-MM-yyyy HH:mm:ss.SSS}",-->
<!--                        "level": "%-5level",-->
<!--                        "logger": "%logger{0}",-->
<!--                        "message": "#tryJson{%msg}"-->
<!--                        }-->
<!--                    </pattern>-->
<!--                </pattern>-->
<!--    -->
<!--                <stackTrace>-->
<!--                    <fieldName>exception</fieldName>-->
<!--    -->
<!--                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">-->
<!--                        <exclude>^org\.</exclude>-->
<!--                        <exclude>^com\.</exclude>-->
<!--                        <exclude>^net\.</exclude>-->
<!--                        <exclude>^jdk\.internal</exclude>-->
<!--                        <exclude>^sun\.</exclude>-->
<!--                        <exclude>^com\.sun</exclude>-->
<!--                        <exclude>^java\.lang\.reflect\.Method\.invoke</exclude>-->
<!--                        <exclude>^javax\.servlet\.http\.HttpServlet\.service</exclude>-->
<!--                        <exclude>^software\.amazon\.awssdk\.core\.internal</exclude>-->
<!--                        <exclude>BySpringCGLIB</exclude>-->
<!--                        <shortenedClassNameLength>1</shortenedClassNameLength>-->
<!--                    </throwableConverter>-->
<!--                </stackTrace>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <root level="warn">-->
<!--        <appender-ref ref="log-in-file"/>-->
<!--    </root>-->
<!--    -->
<!--    <logger level="info" name="com.lukinhasssss" additivity="false">-->
<!--        <appender-ref ref="log-in-file"/>-->
<!--    </logger>-->
<!--</configuration>-->

<!-- LOG NO FORMATO JSON -->
<!--<configuration>-->
<!--    <contextName>production</contextName>-->

<!--    <appender name="json-stdout" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
<!--            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->
<!--                <prettyPrint>true</prettyPrint>-->
<!--            </jsonFormatter>-->

<!--            <timestampFormat>dd-MM-yyyy' 'HH:mm:ss.SSS</timestampFormat>-->
<!--        </layout>-->
<!--    </appender>-->

<!--    <root level="info">-->
<!--        <appender-ref ref="json-stdout" />-->
<!--    </root>-->
<!--</configuration>-->

<!-- FORMATO PADRÃO DE LOGS -->
<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} %M - %msg %rEx{short} %n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->

<!-- LOGGAR EM ARQUIVO -->
<!--<configuration>-->
<!--    <property name="LOG_PATH" value="logs/admin-do-catalogo.log" />-->
<!--    -->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${LOG_PATH}</file>-->
<!--        <append>true</append>-->
<!--    -->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    -->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="FILE" />-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->